# MacOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Dataset
dataset/

checkpoints/*
!checkpoints/run_20260618_175319/
!checkpoints/run_20260618_175319/**

checkpoints/run_20260618_175319/best_model.pth
checkpoints/run_20260618_175319/last_model.pth